
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Plant Care"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome to PlantCare"]</h1>
    <p>@Localizer["The website that allows your plants to grow!"]</p>
</div>
